body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 3rem;
    border-radius: 12px;
}

.container {
    display: flex;
    flex: 1 0;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.calculator {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    background-color: grey;
    padding: 1rem;
    border-radius: 30px;
}

.displayBox {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    padding: 2rem 4rem;
    max-height: 6rem;
    border-radius: 25px;
}

.display {
    display: flex;
    flex: 0;
    background-color: white;
    font-size: 4rem;
    text-align: right;
    height: 4rem;
    max-height: 4rem;
}

.boxBox {
    display: flex;
    flex: 1;
    padding: 1rem;
}

.numBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 1rem;
}

.numBox .row {
    display: flex;
    flex: 1;
}

.number {
    padding: 2rem;
}

.actionsBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
}

.actionsBox button {
    flex: 1;
    padding: 1rem;
}