body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex: 1 0;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.calculator {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    background-color: grey;
    padding: 1rem;
}

.display {
    display: flex;
    flex: 1;
    background-color: white;
    padding: 2rem;
}

.boxBox {
    display: flex;
    flex: 1;
    padding: 1rem;
}

.numBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 1rem;
}

.numBox .row {
    display: flex;
    flex: 1;
}

.number {
    padding: 2rem;
}

.actionsBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
}

.actionsBox button {
    flex: 1;
    padding: 1rem;
}